body {
    background-image: url("../img/wood-texture.jpeg");    
    background-size: cover;
    background-repeat: repeat;
}
.main-wrapper {
    margin: 7em auto;
}
.ul-title {
    background-color: #faf3df;
    color: #555;
    font-size: 2em;
    padding-left: 0;
    height: 96px;
    width: 900px;
    border: 1px solid #dedede;
    margin-bottom: 0;
}
.ul-title li {
    font-size: 1em;
    list-style: none;
    border-bottom: 1px dotted #ccc;
    height: 3em;
    padding: 10px;
    background-color: #faf3df;
    font-weight: bold;
}
.lines-title {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 12px;
    height: 194px;
    margin-left: 55px;
    margin-right: 0;
    position: relative;
    bottom: -48px;
}
h1 {
    font-family: "Kaushan script";
    font-size: 75px;
    background-color: #faf3df;
    margin-bottom: 0;
    width: 900px;
    text-indent: 2.5em;
    font-weight: bold;
    box-shadow: inset 0px -8px 0px 0px;
}
.input-task {
    list-style: none;
    text-indent: 3.5em;
    height: 3em;
    background-color: #faf3df;
}
.input-no-tasks::placeholder {
    font-weight: bold;
}
.list {
    color: #555;
    font-size: 2em;
    padding-left: 0;
    width: 900px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    margin-bottom: 0;
}
.list li {
    font-size: 1em;
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 1.7em;
    height: 3em;
    padding: 10px;
    background-color: #faf3df;
    font-weight: bold;
}
.list-task:hover {
    background-color: #f0f0f0;
}
.lines-task {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 11px;
    height: 96px;
    margin-left: 55px;
    margin-right: 0;
}
.fa-xmark {
    visibility: hidden;
    margin-left: auto;
    color: rosybrown;
}
.list li:hover .fa-xmark {
    visibility: visible; /* Muestra el icono cuando se pasa el ratón por encima del elemento li */
}
.lines-item {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 11px;
    height: 62px;
    margin-left: 55px;
    margin-right: 0;
}
.items {
    font-size: 18px !important;
    z-index: 2;
}
.ul-secondary {
    border: 0px;
    z-index: 1;
}
#second-paper {
    width: 98%; 
    margin: auto;
    height: 1px;
    padding: 3px;
    opacity: 0.9;
}
#third-paper {
    width: 96%; 
    margin: auto;
    height: 1px;
    padding: 3px;
    opacity: 0.85;
}