.input-task {
    height: 3em;
    border: 1px solid black;
    font-size: 2em;
}
.fa-xmark {
    visibility: hidden;
}
.input-task:hover .fa-xmark {
    visibility: visible; /* Muestra el icono cuando se pasa el ratón por encima del elemento li */
}